# This works:  See build 717 https://travis-ci.com/github/hyperstack-org/hyperstack/builds/218241993

# dist: xenial
#
# addons:
#   apt:
#     sources:
#       - sourceline: 'deb http://dl.yarnpkg.com/debian/ stable main'
#         key_url: 'http://dl.yarnpkg.com/debian/pubkey.gpg'
#       - sourceline: 'deb http://dl.google.com/linux/chrome/deb/ stable main'
#         key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
#     packages:
#       - postgresql-11
#       - chromium-chromedriver
#       - google-chrome-stable
#       - yarn
#       - redis-server
#   postgresql: '11'
#
# before_install:
#   - sudo sed -i 's/port = 5433/port = 5432/' /etc/postgresql/11/main/postgresql.conf
#   - sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
#   - sudo service postgresql stop
#   - sudo service postgresql start 11
#   - postgres --version
#   - sudo rm -f /usr/local/bin/yarn
#   - nvm install 10
#   - rvm install 2.6.3  # was 2.5.1
#   - gem install bundler
#   - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
#   - echo 'install completed'
#
# before_script:
#    - psql -c 'create database hyper_mesh_test_db;' -U postgres
#    - cd ruby/hyper-model
#    - bundle install --jobs=3 --retry=3
#    - google-chrome --version
#    - which google-chrome
#    - yarn install
# script:
#    - DRIVER=travis bundle exec rspec spec/batch1/column_types/column_type_spec.rb:121
#---------------------------------------------------------------------------------------
#
# This fails because within the job the db does not exist
# see job 718: https://travis-ci.com/github/hyperstack-org/hyperstack/builds/218243353
#
# dist: xenial
#
# addons:
#   apt:
#     sources:
#       - sourceline: 'deb http://dl.yarnpkg.com/debian/ stable main'
#         key_url: 'http://dl.yarnpkg.com/debian/pubkey.gpg'
#       - sourceline: 'deb http://dl.google.com/linux/chrome/deb/ stable main'
#         key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
#     packages:
#       - postgresql-11
#       - chromium-chromedriver
#       - google-chrome-stable
#       - yarn
#       - redis-server
#   postgresql: '11'
#
# before_install:
#   - sudo sed -i 's/port = 5433/port = 5432/' /etc/postgresql/11/main/postgresql.conf
#   - sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
#   - sudo service postgresql stop
#   - sudo service postgresql start 11
#   - postgres --version
#   - sudo rm -f /usr/local/bin/yarn
#   - nvm install 10
#   - rvm install 2.6.3  # was 2.5.1
#   - gem install bundler
#   - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
#   - echo 'install completed'
#
# before_script:
#   - psql -c 'create database hyper_mesh_test_db;' -U postgres
#
# _test_gem: &_test_gem
#   before_script:
#     - cd ruby/$COMPONENT
#     - bundle install --jobs=3 --retry=3
#     - google-chrome --version
#     - which google-chrome
#     - yarn install
#   script:
#     - DRIVER=travis bundle exec rspec spec/batch1/column_types/column_type_spec.rb:121
#
# jobs:
#   include:
#     - <<: *_test_gem
#       env: COMPONENT=hyper-model
#---------------------------------------------------------------------------------------
#
# This fails because within the job the db does not exist
# see job 718: https://travis-ci.com/github/hyperstack-org/hyperstack/builds/218243353
#
dist: xenial

addons:
  apt:
    sources:
      - sourceline: 'deb http://dl.yarnpkg.com/debian/ stable main'
        key_url: 'http://dl.yarnpkg.com/debian/pubkey.gpg'
      - sourceline: 'deb http://dl.google.com/linux/chrome/deb/ stable main'
        key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
    packages:
      - postgresql-11
      - chromium-chromedriver
      - google-chrome-stable
      - yarn
      - redis-server
  postgresql: '11'

_test_gem_pg: &_test_gem_pg
  before_install:
    - echo 'installing postgresql'
    - sudo sed -i 's/port = 5433/port = 5432/' /etc/postgresql/11/main/postgresql.conf
    - sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
    - sudo service postgresql stop
    - sudo service postgresql start 11
    - postgres --version
    - sudo rm -f /usr/local/bin/yarn
    - nvm install 10
    - rvm install 2.6.3  # was 2.5.1
    - gem install bundler
    - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
    - echo 'install completed'

  before_script:
    - psql -c 'create database $DB;' -U postgres
    - cd ruby/$COMPONENT
    - bundle install --jobs=3 --retry=3
    - google-chrome --version
    - which google-chrome
    - yarn install
  script:
    - DRIVER=travis bundle exec rspec spec/batch1/column_types/column_type_spec.rb:121

jobs:
  include:
    - <<: *_test_gem_pg
      env: COMPONENT=hyper-model DB=hyper_mesh_test_db
# ------------------

#
#
#
# language: bash
# cache:
#   bundler: true
#   directories:
#     - node_modules # NPM packages
# _test_gem: &_test_gem
#   # env:
#   #   global:
#   #   - PGPORT=5433
#   stage: test
#   services:
#     - postgresql
#   addons:
#     apt:
#       sources:
#         - sourceline: 'deb http://dl.yarnpkg.com/debian/ stable main'
#           key_url: 'http://dl.yarnpkg.com/debian/pubkey.gpg'
#         - sourceline: 'deb http://dl.google.com/linux/chrome/deb/ stable main'
#           key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
#       packages:
#         - chromium-chromedriver
#         - google-chrome-stable
#         - yarn
#         - redis-server
#     mariadb: '10.3' # mariadb works fine...
#     postgresql: "11.2"
#   before_install:
#     - sudo apt-get update
#     - sudo apt-get --yes remove postgresql\*
#     - sudo apt-get install -y postgresql-11 postgresql-client-11
#     - |
#     sudo cat <<EOF >/etc/postgresql/11/main/pg_hba.conf
#     local   all             postgres                                trust
#     local   all             all                                     trust
#     host    all             all             127.0.0.1/32            trust
#     host    all             all             ::1/128                 trust
#     EOF
#     # - sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
#     - sudo cat /etc/postgresql/11/main/pg_hba.conf
#     - echo installing $COMPONENT
#     - sudo rm -f /usr/local/bin/yarn
#     - nvm install 10
#     - rvm install 2.6.3  # was 2.5.1
#     - gem install bundler
#     - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
#   before_script:
#     - echo creating pg database hyper_mesh_test_db
#     - psql --version
#     - psql -c 'CREATE DATABASE hyper_mesh_test_db;' -U postgres
#     - psql -c 'CREATE ROLE travis SUPERUSER LOGIN CREATEDB;' -U postgres
#     - echo before_script $COMPONENT
#     - cd ruby/$COMPONENT
#     - bundle install --jobs=3 --retry=3
#     - bundle exec rake spec:prepare
#     - google-chrome --version
#     - which google-chrome
#     - yarn install
#   script:
#     - echo running script $COMPONENT
#     - DRIVER=travis bundle exec rake $TASK
#
# _deploy_gem: &_deploy_gem
#   stage: release gems
#   before_script:
#     - cd ruby/$COMPONENT
#   script:
#     - echo deploying $COMPONENT
#   deploy:
#     - provider: rubygems
#       api_key:
#         secure: "ORJMyp20YFCkvujBfxoDPwEZy8R8YJaKwRhHZUDTPZPiS84mJA7Mqd0JjvRlF0mlH/WzspruM7hZV0CuMU8F/0raRhSUU9RBh5veZ/4ij9kboCYnfuqBVt6qPRtaf8DgKe7CWGioUrTISJCVKLnygY6gZd2aFXCEbqZMrkUvC7y43ymOoFoeyCLsXC0j5uJxdHgNfbaIUetIl2DQJUbC2Rgq1Iaxvi72Ae97TR2xRCu+ko8DopRpQCug6U81IhzXftizGfKwzecqVFjuMn3XEf+UDlU6xbvwWWkcwjYNAbP2Kk+mWwUMx36s+1Pyx8MOveYLTwnQJ6gHocZHzh7WJOD548JNU3F5oXIlUB4EzD20bCSIeRKOdxTuKrNk7W3a5qGERuQi4rkIlkKaFIBP55IkliUxvYxqr0WujsjO2reRcNhNcLVGCOaX6LZbWFR5bf0WiEOL4vOxPNw66sI2JVHoMmQeAYtL2ghxikdSPXKRc+inT3QiRBsh+ns8YrAP7sV4lX6r/qyWUtPh6kY8xIeTP4VzMviyf20m5u++omao/FSEtVnU3cro5KjrZLg3ILg4NpNG+xoRqPS/Hmxry5ZPrggqNrxoqWuO7pLd/NnV/AnLiT8rd2P0PTriP9uRIM8+fFfyOeGwbplOLrbWUPnCdQVWp6dYOrNgE2yDJ/I="
#       on:
#         tags: true
# jobs:
#   include:
#     - <<: *_test_gem
#       env: PGPORT=5433 COMPONENT=hyper-model       RUBY_VERSION=2.5.1 TASK=part1

# language: bash
# cache:
#   bundler: true
#   directories:
#     - node_modules # NPM packages
#
# # services:
# #     - postgresql
# #
# # addons:
# #     postgresql: '9.6'
# #
# # before_script:
# #   - psql -c 'create database hyper_mesh_test_db;' -U postgres
#
# before_install:
# #   - sudo apt-get update
# #   - sudo apt-get --yes remove postgresql\*
# #   - sudo apt-get install -y postgresql-11 postgresql-client-11
# #   - sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
#   - sudo cat /etc/postgresql/9.6/main/pg_hba.conf
# #   - sudo service postgresql restart 11
# # before_script:
# #   - echo creating pg database hyper_mesh_test_db
# #   - psql --version
# #   - psql -c 'CREATE DATABASE hyper_mesh_test_db;' -U postgres
# #   - psql -c 'CREATE ROLE travis SUPERUSER LOGIN CREATEDB;' -U postgres
# # services:
# #   - postgresql
# # addons:
# #   postgresql: "11.2"
# # env:
# #   global:
# #   - PGPORT=5433
#
# _test_gem: &_test_gem
#   # env:
#   #   global:
#   #   - PGPORT=5433
#   stage: test
#   services:
#     - postgresql
#   addons:
#     apt:
#       sources:
#         - sourceline: 'deb http://dl.yarnpkg.com/debian/ stable main'
#           key_url: 'http://dl.yarnpkg.com/debian/pubkey.gpg'
#         - sourceline: 'deb http://dl.google.com/linux/chrome/deb/ stable main'
#           key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
#       packages:
#         - chromium-chromedriver
#         - google-chrome-stable
#         - yarn
#         - redis-server
#     mariadb: '10.3'
#     postgresql: "9.6"
#   before_install:
#     # - sudo apt-get update
#     # - sudo apt-get --yes remove postgresql\*
#     # - sudo apt-get install -y postgresql-11 postgresql-client-11
#     # - sudo cat /etc/postgresql/11/main/pg_hba.conf
#     # #- sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
#     # # - sudo ls /etc
#     # # - sudo ls /etc/tmp
#     # # - sudo cp /etc/tmp/pg_hba.conf /etc/postgresql/11/main/pg_hba.conf
#     #
#     # - sudo service postgresql restart 11
#     - echo installing $COMPONENT
#     # yarn is in /usr/local/bin/yarn version 1.3.2 and is not a package
#     # must remove this zombie for new yarn to work
#     - sudo rm -f /usr/local/bin/yarn
#     - nvm install 10
#     - rvm install 2.6.3  # was 2.5.1
#     - gem install bundler
#     - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
#   before_script:
#     - echo creating pg database hyper_mesh_test_db
#     - psql --version
#     - psql -c 'CREATE DATABASE hyper_mesh_test_db;' -U postgres
#     - psql -c 'CREATE ROLE travis SUPERUSER LOGIN CREATEDB;' -U postgres
#     - echo before_script $COMPONENT
#     - cd ruby/$COMPONENT
#     - bundle install --jobs=3 --retry=3
#     - psql -c 'create database hyper_mesh_test_db;' -U postgres
#     - bundle exec rake spec:prepare
#     - google-chrome --version
#     - which google-chrome
#     - yarn install
#   script:
#     - echo running script $COMPONENT
#     - DRIVER=travis bundle exec rake $TASK
#
# _deploy_gem: &_deploy_gem
#   stage: release gems
#   before_script:
#     - cd ruby/$COMPONENT
#   script:
#     - echo deploying $COMPONENT
#   deploy:
#     - provider: rubygems
#       api_key:
#         secure: "ORJMyp20YFCkvujBfxoDPwEZy8R8YJaKwRhHZUDTPZPiS84mJA7Mqd0JjvRlF0mlH/WzspruM7hZV0CuMU8F/0raRhSUU9RBh5veZ/4ij9kboCYnfuqBVt6qPRtaf8DgKe7CWGioUrTISJCVKLnygY6gZd2aFXCEbqZMrkUvC7y43ymOoFoeyCLsXC0j5uJxdHgNfbaIUetIl2DQJUbC2Rgq1Iaxvi72Ae97TR2xRCu+ko8DopRpQCug6U81IhzXftizGfKwzecqVFjuMn3XEf+UDlU6xbvwWWkcwjYNAbP2Kk+mWwUMx36s+1Pyx8MOveYLTwnQJ6gHocZHzh7WJOD548JNU3F5oXIlUB4EzD20bCSIeRKOdxTuKrNk7W3a5qGERuQi4rkIlkKaFIBP55IkliUxvYxqr0WujsjO2reRcNhNcLVGCOaX6LZbWFR5bf0WiEOL4vOxPNw66sI2JVHoMmQeAYtL2ghxikdSPXKRc+inT3QiRBsh+ns8YrAP7sV4lX6r/qyWUtPh6kY8xIeTP4VzMviyf20m5u++omao/FSEtVnU3cro5KjrZLg3ILg4NpNG+xoRqPS/Hmxry5ZPrggqNrxoqWuO7pLd/NnV/AnLiT8rd2P0PTriP9uRIM8+fFfyOeGwbplOLrbWUPnCdQVWp6dYOrNgE2yDJ/I="
#       on:
#         tags: true
# jobs:
#   include:
#     # - <<: *_test_gem
#     #   env: COMPONENT=rails-hyperstack  RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-spec        RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-trace       RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyperstack-config RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-state       RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-component   RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-router      RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-store       RUBY_VERSION=2.5.1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-operation   RUBY_VERSION=2.5.1
#     - <<: *_test_gem
#       env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 TASK=part1
#     - <<: *_test_gem
#       env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 TASK=part2
#     - <<: *_test_gem
#       env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 TASK=part3
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-i18n        RUBY_VERSION=2.5.1
#     #
#     # - <<: *_test_gem
#     #   env: COMPONENT=rails-hyperstack  RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-spec        RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-trace       RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyperstack-config RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-state       RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-component   RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-router      RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-store       RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-operation   RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11' TASK=part1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11' TASK=part2
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11' TASK=part3
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-i18n        RUBY_VERSION=2.5.1 OPAL_VERSION='~>0.11'
#     #
#     # - <<: *_test_gem
#     #   env: COMPONENT=rails-hyperstack  RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-spec        RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-trace       RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyperstack-config RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-state       RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-component   RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-router      RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-store       RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-operation   RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0' TASK=part1
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0' TASK=part2
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-model       RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0' TASK=part3
#     # - <<: *_test_gem
#     #   env: COMPONENT=hyper-i18n        RUBY_VERSION=2.5.1 RAILS_VERSION='~>5.0'
#
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-i18n
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-trace
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-state
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-component
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-model
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-operation
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-router
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-spec
#     - <<: *_deploy_gem
#       env: COMPONENT=hyper-store
#     - <<: *_deploy_gem
#       env: COMPONENT=rails-hyperstack
#     - <<: *_deploy_gem
#       env: COMPONENT=hyperstack-config
