<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <%= javascript_include_tag 'vendor/es5-shim.min' %>
  <%= javascript_include_tag 'vendor/jquery-2.2.4.min' %>
  <%= javascript_include_tag @server.main %>
</body>
</html>
